<div class="backgroup">
    <div class="row">
        <div class="column">
            <ul>
                <li><a href="#">ขาย</a></li>
                <li><a href="#">ขายสินค้ากับช้อปปี้</a></li>
                <li><a href="#">ดาวน์โหลด</a></li>
            </ul>
        </div>
        <div class="columnRight">
            <ul>
                <li><a href="#">การแจ้งเตือน</a></li>
                <li><a href="#">ช่วยเหลือ</a></li>
                <li><a href="#">สมัครใหม่</a></li>
                <li><a href="#">เข้าสู่ระบบ</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <img class="logo" src="https://seeklogo.com/images/S/shopee-logo-33D0F724BA-seeklogo.com.png">
        </div>
        <div class="column">
            <app-searchbar></app-searchbar>
        </div>
        <div class="column">
            <img class="cart"
                src="https://www.flaticon.com/svg/vstatic/svg/833/833314.svg?token=exp=1614310782~hmac=c363c135a30047dbd6c6a8109a81ad37">
        </div>
    </div>
</div>