
.column {
    float: left;
    width: 33.33%;
    padding: 5px;
    text-align: center;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;

  }

  .img-left {
      width: 300px;
      height: 140px
  }

  .img-right {
      width: 120px;
      height: 70px;
  }