/* Style the content */

* {
  box-sizing: border-box;
}

body {
  background: rgb(58,58,58);
  color: white;
  margin: 0;
  padding: 0;
}

.navbar {
  overflow: hidden;
    background-color: red;
    padding: 5px;
  
    height: 170px; /* Should be removed. Only for demonstration */

  }
.topbanner {
    overflow: hidden;
    padding: 10px;
    text-align: center;
    height: 150px; /* Should be removed. Only for demonstration */
}
.category {
    
    padding: 10px;
    text-align: center;
    height: 150px; /* Should be removed. Only for demonstration */
}