/* Style the content */
body {
  background: rgb(58,58,58);
color: white;
margin: 0;
padding: 0;
}

.navbar {
  overflow: hidden;
    background-color: red;
    padding: 10px;
    text-align: center;
    height: 100px; /* Should be removed. Only for demonstration */
  }
.topbanner {
  overflow: hidden;
    background-color: blue;
    padding: 10px;
    text-align: center;
    height: 50px; /* Should be removed. Only for demonstration */
}
.category {
    background-color: green;
    padding: 10px;
    text-align: center;
    height: 50px; /* Should be removed. Only for demonstration */
}