<div class="card">
    <img src="https://images.unsplash.com/photo-1542319630-55fb7f7c944a?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTA1fHxwcm9kdWN0fGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
        alt="Denim Jeans" style="width:100%">
    <h1>product</h1>

</div>
<div class="card">
    <img src="https://images.unsplash.com/photo-1543238825-261809be9621?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTIyfHxwcm9kdWN0fGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
        alt="Denim Jeans" style="width:100%">
    <h1>product</h1>

</div>
<div class="card">
    <img src="https://images.unsplash.com/photo-1522905341340-7bac448e67fe?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTM5fHxwcm9kdWN0fGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
        alt="Denim Jeans" style="width:100%">
    <h1>product</h1>

</div>
<div class="card">
    <img src="https://images.unsplash.com/photo-1542545073-8768795964d6?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTQyfHxwcm9kdWN0fGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
        alt="Denim Jeans" style="width:100%">
    <h1>product</h1>

</div>
<div class="card">
    <img src="https://images.unsplash.com/photo-1528740561666-dc2479dc08ab?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTQ3fHxwcm9kdWN0fGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
        alt="Denim Jeans" style="width:100%">
    <h1>product</h1>

</div>
<div class="card">
    <img src="https://images.unsplash.com/photo-1594549181132-9045fed330ce?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTcyfHxwcm9kdWN0fGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
        alt="Denim Jeans" style="width:100%">
    <h1>product</h1>

</div>
<div class="card">
    <img src="https://images.unsplash.com/photo-1610478920392-95888b4a0bb2?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTc1fHxwcm9kdWN0fGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
        alt="Denim Jeans" style="width:100%">
    <h1>product</h1>

</div>
<div class="card">
    <img src="https://images.unsplash.com/photo-1596460107916-430662021049?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTc3fHxwcm9kdWN0fGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
        alt="Denim Jeans" style="width:100%">
    <h1>product</h1>

</div>